@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@600&display=swap');

@font-face {
  font-family: 'EbsHunminjeongeumSaeron';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/EBSHMJESaeronRA.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}
