@font-face {
  font-family: 'EbsHunminjeongeumSaeron';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/EBSHMJESaeronRA.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}
